*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
  background-color: white;
}

.padre{
    display: flex;
}
.login-container{
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 100px 100px 0px 150px;
}
.dos h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.dos p{
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 50px;
}
.inputGroup {
  position: relative;
  margin: 35px 0;
  width: 80%;
}
.inputGroup input{
    border: none;
    border-bottom: 1px solid #e2e2e2;
    background-color: transparent;
    outline: none;
    width: 100%;
    padding: 15px 0 10px 0;
}
.inputGroup label {
  position: absolute;
  left: 3px;
  top: 1rem;
  color: #adadad;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.inputGroup input:focus + label,
.inputGroup input:not(:placeholder-shown) + label {
  top: -0.75rem;
  font-size: 13px;
  background-color: #fff;
}
.inputGroup input:focus{
    border-bottom: 1px solid #2da1ea; 
}
.inputGroup input:focus + label {
  color: #2da1ea;
}
.user{
    font-size: 16px;
    margin-top: 80px;
}
.user a{
    color: #2da1ea;
    text-decoration: none;
    padding-left: 5px;
}
.user a:hover{
    text-decoration: underline;
}
.login-container button{
    padding: 15px 0px;
    margin-top: 50px;
    width: 35%;
    border-radius: 40px;
    border: none;
    background-color: #2da1ea;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.login-container button:hover{
    background-color: #5fb8f1;
}
.imagen {
  position: relative;
  width: 800px;
  max-width: 90%;
  margin: auto;
  aspect-ratio: 1060 / 706;
  overflow: hidden;
}
.imagen > *{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Imagen en blanco y negro */
.imagen img.bw {
  object-fit: contain;
  filter: grayscale(100%);
  z-index: 1;
}
/* Capa 2 (Intermedia): Imagen de la mitad */
.imagen .half-image {
  background-image: url("./assets/imgMitad.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 3%;
  opacity: 0; /* Oculta por defecto */
  transition: opacity 0.5s ease-in-out;
  z-index: 2;
}
/* Capa 3 (Superior): Imagen a color completa */
.imagen .full-color-image {
  background-image: url("https://img.freepik.com/vector-gratis/mujer-llamando-puerta-cerrada-cerrada_74855-5303.jpg?t=st=1756218454~exp=1756222054~hmac=fd7361ec3723516323336aa94df59ca0c6667609d34001513ce3566d257a9294&w=1060");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0; /* Oculta por defecto */
  transition: opacity 0.5s ease-in-out;
  z-index: 3;
}
.imagen .visible {
  opacity: 1;
}